In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# so the difference is in the code at the end

# Apple -      https://www.olx.uz/elektronika/telefony/mobilnye-telefony/?currency=UZS&search%5Bfilter_enum_mobile_phone_manufacturer%5D%5B0%5D=2065 <--
# Blackberry - https://www.olx.uz/elektronika/telefony/mobilnye-telefony/?currency=UZS&search%5Bfilter_enum_mobile_phone_manufacturer%5D%5B0%5D=2069 <--
# Samsung -    https://www.olx.uz/elektronika/telefony/mobilnye-telefony/?currency=UZS&search%5Bfilter_enum_mobile_phone_manufacturer%5D%5B0%5D=2101 <--

In [4]:
filter = {"Apple": 2065, "Blackberry": 2069, "Samsung": 2101}
products = {"brand": [], "name": [], "price": []}

for product, code in filter.items():
    r = requests.get(
        f"https://www.olx.uz/elektronika/telefony/mobilnye-telefony/?currency=UZS&search%5Bfilter_enum_mobile_phone_manufacturer%5D%5B0%5D={code}"
    ).text
    soup = BeautifulSoup(r, "html.parser")
    names = soup.find_all("h6", class_="css-16v5mdi er34gjf0")
    prices = soup.find_all("p", class_="css-10b0gli er34gjf0")

    for name, price in zip(names, prices):
        raw_price = price.text

        if any(char.isalpha() for char in raw_price):
            if raw_price.lower() == 'обмен':
                continue
            else:
                numeric_price = "".join(char for char in raw_price if char.isnumeric())

        # print(raw_price)
        # print(numeric_price)
        products["brand"].append(product)
        products["name"].append(name.text)
        products["price"].append(int(numeric_price))

In [7]:
df = pd.DataFrame(products)
df

       brand                                               name    price
0      Apple  Kredit! IPhone 12Pro 256Gb Boshlangich tolov yoq!  6013920
1      Apple  Kredit! IPhone 13Pro Max 128Gb B/U Bosh tolov ...  8394430
2      Apple                    Срочно iPhone 13 128GB Midnight  5575405
3      Apple                                Iphone 14 pro 256gb  8770300
4      Apple                       Realme C33 2023yil obmen bor  1200000
..       ...                                                ...      ...
138  Samsung                     Samsung Galaxy S10+ 5G 8/256gb  2129930
139  Samsung                   Samsung galaxy S10 5G  8 /256 GB  1850000
140  Samsung  Samsung Galaxy A25 128 Gb Muddatli To'lov 24 O...  3069605
141  Samsung                                   Samsung A50 64Gb  1378190
142  Samsung                         Samsung A3 6 xolati yaxshi   650000

[143 rows x 3 columns]

In [5]:
df = pd.DataFrame(products)
gb = df.groupby('brand')['price'].idxmax()
df.loc[gb]

          brand                                               name     price
22        Apple  Iphone 15 Pro Max 512 GB Muddatli To'lov #Rass...  17415310
60   Blackberry                            Honor x9a yangi kafolat   5262180
125     Samsung  Samsung Galaxy S24 Ultra 12/256 GB Muddatli To...  13280740